.particle-container {
    position: absolute; /* make the container position relative */
    width: 100%;
    height: 100%; /* set a fixed height for the container */
    overflow: hidden; /* hide any overflowing content */
  }
  
  #particle-canvas {
    position: absolute; /* position the canvas absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  